In [10]:
# 機械判読可能ではないスプレッドシートの例
from IPython.display import Image, display
display(Image(url="http://bit.ly/3grXDBZ"))

In [1]:
# 第一正規化の例
import pandas as pd
df = pd.DataFrame({"商品名": ["shio", "miso", "shoyu"], "数量": [1,3,3], "単価": [700, 800, 900]})
df["金額"] = df["単価"]*df["数量"]

display(df)
display(df[["商品名", "単価"]], df[["商品名", "数量"]])

     商品名  数量   単価    金額
0   shio   1  700   700
1   miso   3  800  2400
2  shoyu   3  900  2700

     商品名   単価
0   shio  700
1   miso  800
2  shoyu  900

     商品名  数量
0   shio   1
1   miso   3
2  shoyu   3

In [2]:
# Example of pandas melt and wide_to_long
pd.melt(df, id_vars=["商品名"])

     商品名 variable  value
0   shio       数量      1
1   miso       数量      3
2  shoyu       数量      3
3   shio       単価    700
4   miso       単価    800
5  shoyu       単価    900
6   shio       金額    700
7   miso       金額   2400
8  shoyu       金額   2700

In [3]:
# Dataフォーマット（csv、hdf5）の違いは読み込み、書き出しに影響する
from numpy.random import randn
large_table = pd.DataFrame(randn(100000, 5))
large_table

              0         1         2         3         4
0     -0.686467 -1.000966 -0.475447  1.173616  0.905426
1     -0.172494  1.598515 -0.333008 -0.346578 -0.276312
2     -0.468657  0.588713 -1.918004  0.967623  0.503508
3      0.515555  0.288683  1.691883  0.895145 -0.789432
4      0.118174  0.297085  1.442399 -0.622591  1.484606
...         ...       ...       ...       ...       ...
99995  0.110306  1.815229 -0.112383  0.506188 -0.190809
99996 -1.715490  2.043660 -0.630992  2.487965  0.385190
99997  1.667312 -1.083833 -0.512907  0.428118  0.856465
99998  0.817289 -0.532014 -2.103880  1.773951  1.768416
99999  0.365638  0.133993 -0.715286  0.017871 -0.425670

[100000 rows x 5 columns]

In [4]:
csv_write = %timeit -o -n1 large_table.to_csv("test.csv", mode="w")
csv_read  = %timeit -o -n1 df_temp = pd.read_csv("test.csv")

763 ms ± 6.61 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
93.1 ms ± 4.98 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
excel_write = %timeit -o -n1 large_table.to_excel("test.xlsx")
excel_read  = %timeit -o -n1 df_temp = pd.read_excel("test.xlsx")

11.9 s ± 655 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
4.97 s ± 74 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [10]:
hdf_write = %timeit -o -n1 large_table.to_hdf("test.h5", "df", mode="w")
hdf_read  = %timeit -o -n1 df_temp = pd.read_hdf("test.h5")

The slowest run took 35.76 times longer than the fastest. This could mean that an intermediate result is being cached.
48.2 ms ± 93.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
7.08 ms ± 628 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [22]:
data = {"write": [excel_write.average/hdf_write.average, csv_write.average/hdf_write.average],
        "read": [excel_read.average/hdf_read.average, csv_read.average/hdf_read.average],}
results = pd.DataFrame.from_dict(data, orient="index", columns=["excel/hdf", "csv/hdf"])
pd.options.display.float_format = "{:,.1f}".format
print(results)

       excel/hdf  csv/hdf
write      246.4     15.8
read       702.9     13.2